@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;
@import 'include-media';

.container {
  position: relative;
}

.darker-blue {
  background: $darker-blue;
}

.header {
  padding: 20px 16px;
  @include flex(space-between, flex-start);
}

.borderBottom {
  border-bottom: $border-gray;
}

@include media('>tablet') {
  .header {
    padding: 20px 80px;
    border-bottom: $border-gray;
    @include flex-vertical-center(space-between);
  }
}
