@import 'include-media';

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -99;
}

.removeImg {
  display: none;
}

@include media('>tablet') {
  .header {
    padding: 1rem 2rem;
  }
}
