@import 'include-media';

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}

.heroImg {
  background: url('/images/homePage/Hero/hero-img.svg') top/contain no-repeat;
  width: 100%;
  height: 375px;
}

.removeImg {
  display: none;
}

@include media('>tablet') {
  .header {
    padding: 1rem 2rem;
  }

  .heroImg {
    width: 100%;
    height: 876px;
    max-width: 876px;
  }
}
