@use '/styles/variables.scss' as *;
@use '/styles/color.scss' as *;

.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  background: $darkGray;
  padding: 40px;
  text-align: left;
}
