@use '/styles/variables.scss' as *;

.bulletTextContainer {
  display: flex;
  font-size: 14px;
  line-height: 160%;
  color: $grey-3;
  text-align: left;

  li {
    list-style-type: disc;
    display: list-item;
    list-style-position: inside;
  }
}
