@use '/styles/color.scss' as *;
@use '/styles/mixins.scss' as *;

.container {
  @include flex-center;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 80px;
}

.title {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 122%;
  text-align: center;
  color: $white;
  max-width: 650px;
  padding-bottom: 40px;
}

.disclaimer {
  a {
    color: $primary-blue;
    display: inline-block;
  }
}
