@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  width: 100%;
  padding: 0 2rem;
  margin: 4rem auto 8rem;
  text-align: center;
}

.topEllipse {
  position: absolute;
  width: 100%;
  height: 500px;
  top: -200px;
  background: $blue-gradient-top-right-to-bottom-left;
  opacity: 0.2;
  filter: blur(150px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -9;
}

.contentWrapper {
  position: relative;
  max-width: 327px;
  margin: auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.tagWrapper {
  display: flex;
  gap: 0.5rem;
  margin: 2rem auto;
  justify-content: center;

  span {
    opacity: 0.8;
    width: 76px;
    border-radius: 8px;
    padding: 8px 12px;
  }
}

.coverImage {
  margin: 2rem auto;
  
  > span {
    border-radius: 16px;
  }
}

.content {
  text-align: left;
  margin: auto;

  p {
    margin: 2rem auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 178.5%;
    color: #bebeca;
  }

  h1 {
    margin: 2rem auto;
  }
}

.contentImages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem auto;

  > span {
    border-radius: 16px;
  }
}

.contentFooter {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@include media('>tablet') {
  .contentWrapper {
    max-width: 960px;
  }

  .coverImage > span {
     width: 100% !important;
     max-width: 960px !important;
  }

  .content {
    max-width: 720px;
  }

  .contentImages {
    flex-direction: row;
    justify-content: space-between;

    > span {
      width: 100% !important;
      max-width: 348px !important;
    }
  }
}
