@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  position: relative;
  margin: 3rem 0;
}

.bgTexture {
  height: 381px;
  left: 282px;
  top: -2px;
  background: url('/images/store/Work/pattern-large.png') top/cover no-repeat;
  background-blend-mode: color, normal;
  opacity: 0.2;
}

.textureLayer,
.textureLayer2 {
  position: absolute;
  left: 0px;
  top: 3rem;
  background: linear-gradient(180deg, rgba(3, 8, 25, 0) 0%, #030819 101.88%);
  width: 100%;
  height: 337px;
}
.imgContainer {
  max-width: 500px;
  margin: 0 auto;
}

.imgText {
  width: $mobile-width;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
}

.text {
  margin-top: 2rem;
  @include primary-text-mobile;
}

.workStepContainer {
  width: $mobile-width;
  margin: auto;
}

@include media('>tablet') {
  .container {
    height: 577px;
    margin: 10rem 0;
  }

  .ellipseLeft {
    position: absolute;
    width: 1874px;
    height: 1874px;
    left: -1035px;
    top: -9px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      #1477f8 0%,
      rgba(5, 11, 25, 0) 100%
    );
    opacity: 0.2;
    filter: blur(200px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
  }

  .bgTexture {
    position: absolute;
    width: 876px;
    height: 577px;
    left: 0;
    top: 0;
    background: url('/images/store/Work/pattern-large.png') top/cover no-repeat;
    background-blend-mode: color, normal;
    opacity: 0.2;
  }

  .textureLayer,
  .textureLayer2 {
    top: 240px;
  }

  .imgContainer {
    max-width: 876px;
    position: relative;
  }

  .imgText {
    width: 701px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15rem;

    .heading {
      font-weight: 700;
      font-size: 79px;
      line-height: 122%;
    }

    .text {
      width: 588px;
    }
  }

  .workStepContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
  }
}
