@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.rootContainer {
  position: relative;
}

.textContainerwrapper {
  position: relative;
  border-top: $border-gray;
  border-bottom: $border-gray;
}

.textContainer {
  padding: 3rem 0;
  width: $mobile-width;
  margin: auto;

  h3 {
    font-size: 28px;
    line-height: 115%;
  }

  p {
    margin-top: 2rem;
    font-size: 14px;
  }
}

.ellipseRight,
.ellipseLeft,
.blueBgImg {
  display: none;
}

.imgContainer {
  max-width: 500px;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
}

.workStepContainer {
  margin: auto;
}

@include media('>tablet') {
  .textContainerwrapper {
    overflow: hidden;
  }

  .textContainer {
    padding: 5.75rem 0 6.75rem;
    width: 700px;

    h3 {
      font-size: 42px;
      line-height: 110%;
    }

    p {
      font-size: 18px;
    }
  }

  .ellipseLeft {
    display: block;
    position: absolute;
    width: 1874px;
    height: 1874px;
    left: -1035px;
    top: -9px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #1477f8 0%,
      rgba(5, 11, 25, 0) 100%
    );
    opacity: 0.2;
    filter: blur(200px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -8;
  }

  .ellipseRight {
    display: block;
    position: absolute;
    width: 1338px;
    height: 1338px;
    left: 800px;
    top: -60px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      #1477f8 0%,
      rgba(5, 11, 25, 0) 100%
    );
    opacity: 0.2;
    filter: blur(200px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -8;
  }

  .blueBgImg {
    display: block;
    position: absolute;
    height: 375px;
    width: 565px;
    left: 85vw;
    top: -20px;
    opacity: 0.5;
    z-index: -9;
  }

  .workStepContainer {
    & > div:last-child {
      & > div {
        border-bottom: none;
      }
    }
  }
}
