@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;
@import 'include-media';

.container {
  position: relative;
  width: $mobile-width;
  margin: auto;
  padding-top: 3.75rem;
  @include flex(space-between, center);
  flex-direction: column;
  gap: 30px;

  button {
    width: 146px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    // margin-top: 1.8rem;
    border: 1px solid rgba(139, 139, 139, 0.6);
    padding: 0;
    margin: 0;
  }
}

.icon {
  position: relative;
  height: 180px;
  width: 180px;
}

.textContainer {
  text-align: center;
  width: 100%;

  p {
    margin-top: 1.25rem;
  }
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
}

@include media('>tablet') {
  .container {
    padding: 0;
    height: 510px;
    width: 350px;
  }

  .icon {
    height: 250px;
    width: 250px;
  }
}
