@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  padding: 165px 0 110px;
  position: relative;
  background: #fff;
  color: $grey-7;
  border-top: $border-gray;
}

.foundersImgDesktopContainer {
  display: none;
}

.mainText {
  padding: 0 20px;
  text-align: center;
  color: inherit;

  h3 {
    font-size: 28px;
    line-height: 115%;
  }

  p {
    padding-top: 2rem;
    color: inherit;
    text-align: left;
    font-size: 16px;
    line-height: 178.5%;

    span {
      display: block;
      margin-top: 0.5rem;
    }
  }
}

.foundersImg {
  position: relative;
  width: $mobile-width;
  height: 360px;
  border-radius: 16px;
  margin: auto;
  margin-top: 80px;

  span {
    border-radius: 16px;
  }
}

@include media('>tablet') {
  .container {
    padding: 0;
    @include flex-center;
    flex-direction: column;
  }

  .foundersImgDesktopContainer {
    display: block;
    width: 100%;
    background: linear-gradient(
      180deg,
      #f2f2f2 8.24%,
      rgba(236, 236, 236, 0) 100%
    );
    background-blend-mode: multiply;
    text-align: center;
    padding-top: 90px;

    h3 {
      font-size: 54px;
      line-height: 110%;
    }
  }

  .foundersImgDesktop {
    position: relative;
    width: 640.13px;
    height: 446.88px;
    margin: 0 auto;
    background: linear-gradient(
      180deg,
      #f2f2f2 8.24%,
      rgba(236, 236, 236, 0) 100%
    );
  }

  .foundersImg {
    display: none;
  }

  .mainText {
    padding: 40px 0 70px;
    width: 100%;
    border-top: $border-gray;

    h3 {
      display: none;
    }

    p {
      padding-top: 0;
      font-size: 14px;
      line-height: 160%;
      width: 600px;
      margin: auto;
    }
  }
}
