@use '/styles/variables.scss' as *;

.container {
  margin-top: 3rem;
}

.mainText {
  width: $mobile-width;
  margin: auto;
  text-align: center;
}

.containerContent {
  & > h1 {
    margin-top: 2rem;
  }

  & > p {
    margin-top: 1rem;
  }
}
