@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.mainFeatureWrapper {
  margin: auto;
  border-top: $border-gray;
  padding-top: 3rem;
}

.textContainer {
  padding: 20px;
  text-align: left;

  h3 {
    font-size: 42px;
    line-height: 110%;
  }

  p {
    text-align: left;
    margin-top: 2rem;
  }
}

.btnContainer {
  margin-top: 2rem;
  @include flex-vertical-center(center);
  gap: 8px;

  button {
    width: 170px;
    height: 48px;
    margin: none;
  }
}

.mobileImgContainer {
  & > img {
    position: relative;
    @include center-horizontal;
  }
}

@include media('>880px') {
  .mainFeatureWrapper {
    position: relative;
    height: 583px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.02);
    z-index: 9;
  }

  .mainFeature {
    position: relative;
    width: 1440px;
    height: 100%;
    margin: auto;
    @include flex-vertical-center(flex-start);
  }

  .laptopImgContainer {
    position: relative;
    order: 1;
    bottom: -120px;
    left: -200px;
  }

  .textContainer {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-shrink: 0;
    margin-left: 8rem;

    h3 {
      font-size: 54px;
      line-height: 110%;
    }

    p {
      text-align: left;
    }

    .btnContainer {
      margin: 0;
      gap: 40px;
      width: auto;
      justify-content: flex-start;

      button {
        margin: 0;
      }
    }
  }
}
