.socialIcons {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;

  li {
    padding: 0 1rem;
  }

  li:nth-child(2) {
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
  }
}
