.title {
  margin-top: 200px;
  max-width: 1135px;
}

.titleText {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
}

.container {
  margin-top: 32px;
  max-width: 880px;
  width: 100%;
}

.subTitle {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 178.5%;
  text-align: center;
  color: #ffffff;
}

.bottomText {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.bottomButton {
  margin-bottom: 140px;
}
