@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  display: none;
}

@include media('>tablet') {
  .container {
    display: block;
    padding: 70px 0 40px;
    @include flex-center;
    gap: 2rem;
    border-top: $border-gray;
    width: 100%;
  }

  .details {
    width: 284px;
    height: 235px;
    color: $grey-7;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .name {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
  }

  .role {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    color: $grey-6;
    margin-top: 10px;
  }

  .description,
  .work {
    font-size: 14px;
    line-height: 160%;
    color: $grey-5;
    font-weight: 400;
    margin-top: 10px;
  }
}
