@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.foundersCaption {
  width: $mobile-width;
  @include flex(space-between, flex-start);
  gap: 10px;
  text-align: center;
  margin-top: 10px;

  > div {
    width: 50%;
  }
}

.heading {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 28px;
}

.text {
  @include primary-text-mobile;
  font-size: 0.8rem;
  line-height: normal;
}

@include media('>tablet') {
  .foundersCaption {
    width: 100%;
    max-width: 700px;
    gap: 50px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 0.5rem;
  }
}
