@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

.container {
  position: relative;
  margin-top: 5rem;
}

.textContainer {
  width: 327px;
  margin: auto;
  text-align: center;
  position: relative;
  top: -7rem;
}

.para {
  @include primary-text-mobile;
  margin: 1.8rem 0;
}
