@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.rootContainer {
  position: relative;
  padding: 5rem 1rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(180.15deg, #00d3ff -29.76%, #1a49ff 125.39%);
  border-top: $border-gray;
  border-bottom: $border-gray;

  h4 {
    position: relative;
    font-size: 28px;
    line-height: 115%;
    max-width: 70%;
    margin: auto;
    margin-top: 1.5rem;
    z-index: 1;
  }

  p {
    margin-top: 2rem;
    font-weight: 600;
    line-height: 125%;
    color: #ffffff;
    opacity: 0.9;
    max-width: 800px;
    z-index: 1;
  }
}

.bgPattern {
  position: absolute;
  width: 2118.19px;
  height: 2118.19px;
  left: calc(50% - 2118.19px / 2);
  top: -919.1px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #5da3ff 0%,
    rgba(5, 11, 25, 0) 100%,
    rgba(156, 185, 255, 0) 100%
  );
}

.zusLogoWhite {
  position: relative;
  width: 45.88px;
  height: 40px;
  margin: auto;
}

.buttons {
  margin-top: 2rem;
  @include flex-center;
  gap: 10px;

  button {
    width: 159px;
    height: 48px;
    margin: 0;
  }

  button:first-child {
    background: #ffffff;
    color: #202127;
  }
}

@include media('>tablet') {
  .rootContainer {
    width: 100%;
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 54px;
      line-height: 110%;
      max-width: 800px;
    }

    p {
      font-size: 21px;
    }
  }

  .zusLogoWhite {
    width: 65px;
    height: 45px;
  }

  .buttons {
    gap: 1rem;

    button {
      width: 167px;
      height: 56px;
    }
  }
}
