.container {
  padding: 5rem 0;
  margin: auto;
  text-align: center;
  width: 327px;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 1.8rem;
}

.buttons {
  margin-top: 1.8rem;
}
