@use '/styles/color.scss' as *;
@use '/styles/mixins.scss' as *;

.container {
  @include flex-center;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 80px;
}

.disclaimer {
  a {
    color: $primary-blue;
  }
}
