@use '/styles/mixins.scss' as *;

.feature {
  position: relative;
  max-width: 327px;
  margin: auto;
  margin-top: 6rem;
}

.icon {
  margin: auto;
  width: fit-content;
}

.textContainer {
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: 1rem;
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.para {
  @include primary-text-mobile;
  margin-top: 0.5rem;
}

.patternStore {
  position: absolute;
  width: 246px;
  height: 246px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #2d00ff 0%,
    rgba(45, 0, 255, 0) 100%
  );
  opacity: 0.2;

  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.patternBuild {
  position: absolute;
  width: 222px;
  height: 225px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #0053ff 0%,
    rgba(0, 83, 255, 0) 100%
  );
  opacity: 0.2;
  left: 95px;
  top: 15px;
}

.patternEarn {
  position: absolute;
  width: 190px;
  height: 190px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #009eff 0%,
    rgba(0, 158, 255, 0) 100%
  );
  opacity: 0.2;
  left: 105px;
  top: 20px;
}
