@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container {
  width: $mobile-width;
  margin: auto;
  height: max-content;

  &:last-of-type {
    .line {
      display: none;
    }
  }
}

.content {
  @include flex(space-between, flex-start);
  position: relative;
  padding-bottom: 4rem;
}

.lineContainer {
  width: 16px;
  height: 100%;
  @include flex-horizontal-center(center);
  flex-direction: column;
  margin-top: 1rem;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: $primary-blue;
  border-radius: 50%;
}

.textContainer {
  padding-left: 1.5rem;

  p {
    opacity: 0.6;
  }
}

.subHeading {
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
}

.line {
  position: absolute;
  top: 3rem;
  bottom: 0;
  width: 2px;
  background-color: $primary-blue;
}

.blue {
  background-color: $primary-blue;
}

.grey {
  background: #ffffff;
  opacity: 0.4;
}

.removeLineContainer {
  display: none;
}

@include media('>tablet') {
  .container {
    width: 720px;
  }

  .content {
    gap: 1.5rem;
  }

  .lineContainer {
    margin-top: 1.5rem;
  }

  .line {
    top: 4rem;
  }

  .textContainer {
    h1 {
      font-weight: 700;
      font-size: 52px;
      line-height: 120%;
    }
  }
}
