@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

$breakpoints: (
  tablet: 768px,
  smallDesktop: 1200px,
);

.rootWrapper {
  position: relative;
  border-top: $border-gray;
  text-align: center;
  padding-bottom: 6rem;
  overflow: hidden;
}

.containerWithIcon {
  button {
    margin-top: 2rem;
    padding: 1rem 2rem;
  }
}

.vultContainer {
  height: auto;
}

.logo {
  display: block;
  position: absolute;
  top: 100px;
  left: 55px;
  z-index: 10;
}

@include media('>tablet') {
  .rootWrapper {
    padding: 7.8rem 0;
  }

  .containerWithIcon {
    position: relative;
    max-width: 1160px;
    height: 625px;
    width: 85%;
    margin: auto;
    border-radius: 40px;
    @include flex-vertical-center(center);
    flex-direction: row;

    button {
      margin: 0;
      margin-top: 2rem;
      max-width: 155px;
    }
  }

  .vultContainer {
    height: 680px;
  }

  .logo {
    top: 50px;
    left: 50px;
  }

  .blimpContainer {
    height: 650px;
    flex-direction: column;
  }
}

@include media('<=smallDesktop', '>tablet') {
  .containerWithIcon {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blimpContainer {
    height: 650px;
  }
}
