@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.mainFeatureWrapper {
  margin: auto;
  border-top: $border-gray;
  padding-top: 3rem;
}

.textContainer {
  padding: 20px;
  text-align: left;

  h3 {
    font-size: 42px;
    line-height: 110%;
  }

  p {
    text-align: left;
    margin-top: 2rem;
  }
}

.btnContainer {
  // margin: auto;
  margin-top: 2rem;
  @include flex-vertical-center(center);
  gap: 8px;

  button {
    width: 170px;
    height: 48px;
    margin: none;
  }
}

.laptopImgContainer {
  position: relative;
  height: 390px;
  width: 425px;
  left: 50%;
  transform: translateX(-50%);
}

.pricingFeatureWrapper {
  padding: 2rem 0;
  border-top: $border-gray;
}

.pricingFeature {
  position: relative;
  border-radius: 16px;
  padding: 48px 20px;
  width: 85%;
  height: 279px;
  margin: auto;
  text-align: center;
  overflow: hidden;

  h3 {
    font-size: 28px;
    line-height: 115%;
  }

  p {
    margin-top: 2rem;
  }
}
.ellipseLeft {
  position: absolute;
  width: 894px;
  height: 894px;
  left: -600px;
  top: -416px;
  background: $blue-gradient-center;
  opacity: 0.2;
}

.ellipseRight {
  position: absolute;
  width: 686px;
  height: 686px;
  left: 30px;
  top: -19px;
  background: $blue-gradient-center;
  opacity: 0.2;
}

@include media('>880px') {
  .mainFeatureWrapper {
    position: relative;
    height: 583px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.02);
    z-index: 9;
  }

  .mainFeature {
    position: relative;
    width: 1440px;
    height: 100%;
    margin: auto;
    @include flex-vertical-center(flex-start);
  }

  .laptopImgContainer {
    position: absolute;
    width: 1080px;
    height: 930px;
    transform: none;
    left: 480px;
    bottom: -305px;
    transform: none;
    // right: -10%;
  }

  .textContainer {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 8rem;

    h3 {
      font-size: 54px;
      line-height: 110%;
    }

    p {
      text-align: left;
    }

    .btnContainer {
      margin: 0;
      gap: 40px;
      width: auto;
      justify-content: flex-start;

      button {
        margin: 0;
      }
    }
  }

  .pricingFeatureWrapper {
    padding: 100px 0;
  }

  .pricingFeature {
    width: 1160px;
    height: 605px;
    border-radius: 32px;
    margin: auto;
    padding: 160px 200px 0 200px;

    h3 {
      font-size: 80px;
      line-height: 122%;
    }
  }

  .ellipseRight {
    width: 1694px;
    height: 1694px;
    left: -699px;
    top: -735px;
  }

  .ellipseLeft {
    width: 1694px;
    height: 1694px;
    left: 219px;
    top: -305px;
  }
}
