@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.pricingFeatureWrapper {
  padding: 2rem 0;
  border-top: $border-gray;
}

.pricingFeature {
  position: relative;
  border-radius: 16px;
  padding: 48px 20px;
  width: 85%;
  height: 279px;
  margin: auto;
  text-align: center;
  overflow: hidden;

  p {
    margin-top: 2rem;
  }
}
.ellipseLeft {
  position: absolute;
  width: 894px;
  height: 894px;
  left: -600px;
  top: -416px;
  background: $blue-gradient-center;
  opacity: 0.2;
}

.ellipseRight {
  position: absolute;
  width: 686px;
  height: 686px;
  left: 30px;
  top: -19px;
  background: $blue-gradient-center;
  opacity: 0.2;
}

@include media('>880px') {
  .pricingFeatureWrapper {
    padding: 100px 0;
  }

  .pricingFeature {
    width: 1160px;
    height: 413px;
    border-radius: 32px;
    margin: auto;
    @include flex-center-column;
  }

  .ellipseRight {
    width: 1694px;
    height: 1694px;
    left: -699px;
    top: -735px;
  }

  .ellipseLeft {
    width: 1694px;
    height: 1694px;
    left: 219px;
    top: -305px;
  }
}
