@use '/styles/mixins.scss' as *;
@import 'include-media';

.heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

.showCounter {
  @include flex-horizontal-center(flex-start);
  font-weight: 200;
  gap: 12px;
}

.divider {
  font-size: 40px;
  line-height: 120%;
}

.dateTimeWrapper {
  @include flex-center;
  flex-direction: column;
  gap: 2px;
  position: relative;
  overflow: hidden;
}

.timeValue {
  font-size: 44px;
  line-height: 120%;
  display: inline-block;
}

.timeType {
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  text-transform: uppercase;
}

@include media('>tablet') {
  .showCounter {
    gap: 1.5rem;
  }

  .heading {
    margin-top: 4.5rem;
    margin-bottom: 0.75rem;
    font-size: 21px;
    line-height: 125%;
  }

  .divider {
    font-size: 52px;
  }

  .timeValue {
    font-size: 60px;
  }

  .timeType {
    font-size: 14px;
  }
}
