@import 'include-media';

.heading {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.showCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-weight: 200;
  gap: 1rem;
}

.divider {
  font-size: 40px;
  line-height: 120%;
}

.dateTimeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeValue {
  font-size: 44px;
  line-height: 120%;
}

.timeType {
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  text-transform: uppercase;
}

@include media('>tablet') {
  .showCounter {
    gap: 0.9rem;
    margin-bottom: 5rem;
  }

  .heading {
    margin-top: 4rem;
    margin-bottom: 0.8rem;
    font-size: 18px;
    line-height: 120%;
  }

  .divider {
    font-size: 52px;
  }

  .timeValue {
    font-size: 60px;
  }

  .timeType {
    font-size: 14px;
  }
}
