@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;
@import 'include-media';

.featureListWrapper {
  margin: auto;
  padding-bottom: 6.25rem;
}

@include media('>tablet') {
  .featureListWrapper {
    @include flex-horizontal-center(stretch);
    gap: 2rem;
    border-top: $border-gray;
    padding: 5.5rem 0;
  }
}
