@use '/styles/variables.scss' as *;

.container {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #0b9dff;
  }
}

.heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.para {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.64;
}

.divider {
  width: 6px;
  height: 108px;

  background: #0b9dff;
}
