@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.rootContainer {
  position: relative;
  padding: 70px 0 0;
  width: 100vw;
  height: calc(100vh - 71px);

  h1 {
    position: relative;
    font-size: 28px;
    line-height: 115%;
    max-width: 395px;
    margin: auto;
    text-align: center;
  }
}

.overlay {
  position: absolute;
  height: calc(100% - $header-mobile);
  top: 0;
  width: 100%;
  @include inset;
  top: $header-mobile;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.backgroundVideo {
  position: absolute;
  @include inset;
  top: $header-mobile;
  height: calc(100% - $header-mobile);
  width: 100%;
  z-index: -2;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.videoBottomText {
  position: absolute;
  @include center-horizontal;
  bottom: -60px;
  font-style: normal;
  color: $grey-2;
  z-index: 2;
  width: 370px;
  text-align: center;
  letter-spacing: 0.5px;

  span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;

    a {
      text-decoration: underline;
    }
  }
}

.mainTextContent {
  text-align: center;
  @include center-horizontal-absolute;
  max-width: 374px;
  width: 90%;
  margin: auto;
  bottom: 50px;
  z-index: 2;
}

.secondaryHeading {
  font-weight: 600;
  font-size: 21px;
  line-height: 125%;
}

@include media('>tablet') {
  .rootContainer {
    height: calc(100vh + $header-desktop);

    h1 {
      font-size: 68px;
      line-height: 100%;
      max-width: 1050px;
      width: 80%;
    }
  }

  .overlay {
    top: $header-desktop;
    height: calc(100% - $header-desktop);
  }

  .backgroundVideo {
    top: $header-desktop;
    height: calc(100% - $header-desktop);
  }

  .videoBottomText {
    right: 20px;
    bottom: 20px;
    transform: none;
    left: unset;
  }

  .mainTextContent {
    max-width: 550px;
    bottom: 100px;
  }
}
