@import 'include-media';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 382px;
  height: 36px;
  box-sizing: border-box;

  span {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  button {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    padding: 6px 24px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 8px;

    &:hover {
      background: #ffffff;
      box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.5);

      span {
        background: linear-gradient(121.99deg, #00d3ff -26.48%, #1a49ff 64.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}

@include media('<=tablet') {
  .wrapper {
    display: none;
  }
}
