@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.wrapper {
  @include flex-vertical-center(space-between);
  gap: 40px;

  a {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    padding: 10px;
  }

  button {
    padding: 12px 24px;
    max-height: 40px;
    width: auto;
    margin: 0;
    @include flex-center;

    & > span {
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.active {
  color: $primary-blue;
}

@include media('<=tablet') {
  .wrapper {
    display: none;
  }
}

@include media('<1028px', '>tablet') {
  .wrapper {
    gap: 20px;
  }
}
