@use '/styles/variables.scss' as *;
@import 'include-media';

.container {
  position: relative;
  margin: auto;
  width: $mobile-width;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.secondaryHeading {
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

@include media('>tablet') {
  .container {
    width: 100%;
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }

  .secondaryHeading {
    font-size: 21px;
    line-height: 125%;
    margin-top: 4.2rem;
  }
}
