@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container {
  position: relative;
  margin: auto;
  width: $mobile-width;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  overflow: hidden;
}

.secondaryHeading {
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

@include media('>tablet') {
  .container {
    width: 100%;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .heroBackground {
    @include background-image(
      '/images/homePage/Hero/heroBackground1.png',
      center center,
      cover,
      100%,
      100%
    );
    @include inset;
  }

  .secondaryHeading {
    font-size: 21px;
    line-height: 125%;
    margin-top: 4.2rem;
  }
}
