@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;
@import 'include-media';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 3rem auto;
  height: 376px;
  width: $mobile-width;
  background-color: #030819;
  border-radius: 1rem;
  padding: 3rem 2rem;
  overflow: hidden;
}

.bgPattern {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: url('/images/homePage/Features/boxSmall.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.para {
  @include primary-text-mobile;
  margin-top: 1.5rem;
  max-width: 602px;
}

@include media('>tablet') {
  .container {
    width: 96%;
    height: 704px;
    gap: 1rem;
  }

  .bgPattern {
    background: url('/images/homePage/Features/boxLarge.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
