@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;
@import 'include-media';

$breakpoints: (
  tablet: 768px,
  smallDesktop: 1000px,
);

.menuContainer {
  padding-top: 50px;
  text-align: center;
}

.leftmenuContainer {
  padding: 0 30px;

  h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: $grey-3;
    margin-top: 40px;
  }

  p {
    font-size: 14px;
    line-height: 160%;
    color: $grey-4;
    margin-top: 20px;
  }
}

.menuLinksContainer {
  width: 100%;
}

.footerMenuItem {
  // @include flex-vertical-center(flex-start);
  margin-top: 50px;
  text-align: left;
}

.titleMenu {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: $grey-4;
  width: 100%;
  border-bottom: $border-gray;
  padding: 0 50px 20px;
}

.subMenu {
  @include flex-vertical-center(flex-start);
  flex-wrap: wrap;
  padding: 20px 0 0 30px;
  gap: 10px;

  li {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    min-width: 160px;
    color: $grey-3;
  }
}

.bottomContainer {
  text-align: center;
  padding: 2rem 2rem 2.5rem;
  @include flex-center;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: $grey-3;

  p {
    font-size: 16px;
    color: $grey-3;
  }
}

@include media('>tablet') {
  .menuContainer {
    overflow: hidden;
    text-align: left;
    @include flex(space-between, flex-start);
    padding-top: 80px;
    gap: 6rem;
    width: fit-content;
    margin: auto;
  }

  .leftmenuContainer {
    max-width: 250px;
    text-align: left;
    padding: 0;
    padding-left: 20px;
    margin-top: -10px;
    flex-shrink: 0;

    h3 {
      margin-top: 20px;
    }

    p {
      text-align: left;
    }
  }

  .menuLinksContainer {
    margin-top: 0;
    @include flex(flex-start, flex-start);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
  }

  .footerMenuItem {
    align-items: flex-start;
    width: 135px;
    margin: 0;

    h5 {
      border-bottom: none;
      padding: 0;
    }
  }

  .titleMenu {
    font-size: 13px;
  }

  .subMenu {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
    margin-top: 10px;

    li {
      flex: 1 1 130px;
      width: 130px;
    }
  }

  .bottomContainer {
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem 8rem;
  }
}
