@use '/styles/variables.scss' as *;

.footer {
  margin-top: 5rem;
  position: relative;
  height: fit-content;
}

.footerBackground {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url('/images/Footer/footerBackgroundMobile.png') top/cover
    no-repeat;
  z-index: -9;
}

.iconContainer {
  margin: 3rem auto 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
  width: $mobile-width;

  a {
    margin: auto;
  }

  button {
    padding: 6px 24px;
    height: 36px;
    width: 133px;
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  ul {
    margin-top: 1.5rem;
  }
}

.bottomText {
  width: 261px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  opacity: 0.64;
  margin: 2.5rem auto;
}
