@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;
@import 'include-media';

$breakpoints: (
  tablet: 768px,
  smallDesktop: 1000px,
);

.footer {
  height: fit-content;
  width: 100%;
}

.menuContainer {
  padding: 2rem;
  text-align: center;
  background: $color-background-dark;
  border-top: $border-gray;
}

.menuLinksContainer {
  margin-top: 2rem;
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
}

.footerMenuItem {
  @include flex-center;
  flex-direction: column;
  gap: 6px;
}

.titleMenu {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #cfd2dc;
  opacity: 0.8;
}

.subMenu {
  li {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}

.bottomContainer {
  background: $color-background-dark;
  border-top: $border-gray;
  text-align: center;
  padding: 2rem 2rem;
  @include flex-center;
  flex-direction: column;
  gap: 1rem;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #cfd2dc;
    opacity: 0.64;
  }
}

@include media('>tablet') {
  .menuContainer {
    overflow: hidden;
    text-align: left;
    @include flex(space-between, flex-start);
    padding: 5rem 8rem 6rem;
    gap: 6.5rem;

    h3 {
      font-size: 32px;
      line-height: 130%;
      max-width: 165px;
    }
  }

  .menuLinksContainer {
    margin-top: 0;
    @include flex(space-between, flex-start);
    flex-direction: row;
    gap: 4rem;
    width: 100%;
  }

  .footerMenuItem {
    align-items: flex-start;
  }

  .titleMenu {
    font-size: 13px;
  }

  .subMenu {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100%;
    font-weight: 600;
    font-size: 16px;

    li {
      flex: 1 1 130px;
      width: 130px;
    }
  }

  .bottomContainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 8rem;
  }
}

// @include media('>smallDesktop') {
//   .footerLinksContainer {
//     .menuContainer {
//       gap: 8rem;

//       .menuLinksContainer {
//         gap: 2rem;

//         .subMenu {
//           li {
//             margin-right: 1rem;
//           }
//         }
//       }
//     }
//   }
// }
