@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

.container {
  overflow: hidden;
}

.mainBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 1001px;
  top: -728px;
  background: url('/images/contact/primaryBackground.png') no-repeat top
    left/cover;
  inset: 0;
  overflow: hidden;
}

.primaryContainer {
  position: relative;
  width: $mobile-width;
  height: 500px;
  text-align: center;
  padding: 3rem 1.5rem;
  margin: 2rem auto;
  background: linear-gradient(96.94deg, #052948 -2.21%, #08174b 64.97%);
  border-radius: 16px;
  overflow: hidden;
  z-index: -99;

  & > p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }

  h1 {
    margin-top: 2rem;
  }
}

.iconContainer {
  margin: 2rem auto 4rem;
  @include flex-vertical-center(center);
  gap: 5px;

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.8;
  }
}

.bgImage {
  position: absolute;
  width: 592px;
  height: 592px;
  left: 170px;
  top: 204px;
  background: url('/images/store/Features/bgImage.png') no-repeat center/contain;
  z-index: -9;
}

.secondaryContainer {
  width: $mobile-width;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  text-align: center;
  padding: 1.5rem;
  margin: 6rem auto 3rem;

  & > p {
    margin: 0;
  }

  a {
    color: $primary-blue;
    display: inline-block;
  }
}
