@use '/styles/color.scss' as *;
@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container1 {
  & > p {
    margin-top: 9px;
    font-size: 14px;
    line-height: 17px;
  }
}

.blueText {
  color: $blobber-primary-blue;
  font-size: 24px;
  line-height: 125%;
}

.focusText {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  background: rgba(139, 139, 139, 0.12);
  border-radius: 6px;
  padding: 5px 12px;
  width: fit-content;
}

.statsContainer {
  @include flex-vertical-center(space-between);
  flex-wrap: wrap;
  gap: 16px;
  padding: 2rem 0;
}

.statsItem {
  display: grid;
  gap: 5px;
  width: fit-content !important;

  h4 {
    font-size: 14px;
    line-height: 17px;
    color: $text-2;
  }

  p {
    font-size: 12px;
    line-height: 15px;
    color: $text-2;
  }
}

.statsItemBottomRow {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $blobber-text-white;
}

.note {
  @include flex-vertical-center(initial);
  gap: 16px;

  p {
    font-size: 14px;
    line-height: 160%;
  }
}

@include media('>tablet') {
  .statsItem {
    height: 80px;
  }
}
