@use '/styles/color.scss' as *;

.singleHeaderContainer {
  background-color: #363d4a;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 15px 0px;
}

.singleHeaderLine {
  border-top: 1px solid rgba(4, 12, 29, 0.2);
  width: 64%;
  margin: 8px 71px;
}

.singleHeaderHeaderText {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e6e7e8;
}

.singleHeaderBottomText {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}

.yourRewardsContainer {
  display: grid;
  gap: 40px;
}

.part1Container {
  display: flex;
  gap: 24px;
  width: 100%;
}

.part2Container {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.part4UpperText {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #81858e;
}

.part4BottomText {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.part5Container {
  font-family: 'Averta Std';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #81858e;

  a {
    color: $blobber-primary-blue;
  }
}
