@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container {
  position: relative;
  width: $mobile-width;
  height: 366px;
  border-radius: 16px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1.5rem;
  padding: 48px 24px 19px 24px;

  button {
    margin-top: 2rem;
  }
}

.bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9;
  background: url('/images/earn/Hero/bgPattern.svg') center/cover no-repeat;
}

.heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.text {
  margin-top: 1rem;
  @include primary-text-mobile;
  text-align: left;
}

@include media('>tablet') {
  .container {
    width: 480px;
    height: 536px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .textContainer {
      width: 319px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .heading {
      font-weight: 700;
      font-size: 47px;
      line-height: 122%;
    }

    .text {
      margin: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 178.5%;
    }

    button {
      margin: 0;
      width: 186px;
      height: 48px;

      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
