@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  position: relative;
  margin-top: 3rem;
}

.topEllipse {
  position: absolute;
  width: 100%;
  height: 500px;
  top: -200px;
  background: $blue-gradient-top-right-to-bottom-left;
  opacity: 0.2;
  filter: blur(150px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -9;
}

.centerEllipse {
  position: absolute;
  width: 100%;
  height: 1410px;
  left: -20%;
  top: 25rem;
  background: $blue-gradient-center;
  opacity: 0.2;
  filter: blur(164.527px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -9;
}

.mainText {
  width: $mobile-width;
  margin: auto;
  text-align: center;
}

.textContainer {
  margin-top: 7rem;
  overflow: hidden;
}

@include media('>tablet') {
  .topEllipse {
    height: 1410px;
    top: -1100px;
    background: $blue-gradient-center;
  }

  .centerEllipse {
    left: unset;
  }

  .textContainer {
    margin: 10rem auto;
  }

  .mainText {
    width: 100%;
    max-width: 649px;
    margin-top: 6rem;

    h1 {
      font-weight: 700;
      font-size: 72px;
      line-height: 120%;
    }

    // p {
    //   max-width: 600px;
    //   margin: 1rem auto;
    //   font-weight: 400;
    //   font-size: 16px;
    //   line-height: 178.5%;
    // }
  }
}
