@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  margin-top: 4rem;
  overflow: hidden;
}

.heroImg {
  position: absolute;
  height: 725px;
  width: 100%;
  z-index: -9;
  inset: 0;
  overflow: hidden;
}

.contentContainer {
  width: $mobile-width;
  margin: auto;
  text-align: center;
}

.text {
  @include primary-text-mobile;
  display: block;
  margin: 2rem 0 3rem;
}

@include media('>tablet') {
  .container {
    margin: 9rem 0;
  }

  .contentContainer {
    width: 100%;
    max-width: 853px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 71px;
      line-height: 120%;
    }

    span {
      max-width: 567px;
      font-weight: 400;
      font-size: 15px;
      line-height: 178.5%;
      text-align: center;
    }

    button {
      width: 227px;
      height: 48px;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
