@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.mainFeatures {
  @include flex-center;
  flex-wrap: wrap;
  gap: 20px;
}

.mainFeature {
  text-align: left;
  width: 335px;
  border: $border-gray;
  border-radius: 16px;
  padding: 40px 26px;
  margin: auto;

  h3 {
    font-size: 24px;
    line-height: 122%;
  }

  & > p {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
  }

  button {
    margin-top: 20px;
  }
}

.rangeSlider {
  width: 100%;
  height: 128px;
  background: #321a33;
  margin-top: 45px;
  align-items: flex-start;

  & > div:nth-child(2) {
    gap: 0;

    p {
      font-size: 20px;
      color: #ffffff;
    }
  }

  & > div:nth-child(3) {
    margin-top: 38px;
  }

  & > div:nth-child(2) {
    margin-top: 30px;
    align-items: flex-start;
  }

  & > div:nth-child(3) {
    input[type='range']::-webkit-slider-thumb {
      background: url('/images/provide/Earnings/RewardsCalculator/gripBlue.svg')
          center / 12px 12px no-repeat,
        #fff;
    }

    input[type='range']::-moz-range-thumb {
      background: url('/images/provide/Earnings/RewardsCalculator/gripBlue.svg')
          center / 12px 12px no-repeat,
        #fff;
    }

    & > p {
      color: #fff;
    }
  }
}

.checkbox {
  height: 32px;
  width: 32px;
  border-radius: 8px;
}

.component1 {
  @include flex(space-between, stretch);
  //   flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

  h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
  }

  p {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 8px;
  }
}

.component1Text {
  width: 227px;
}

.serverSpecifications {
  h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 125%;
    margin-top: 1rem;
  }
}

.table {
  position: relative;
  margin-top: 20px;
  width: 275px;
  height: 210px;
}

.bottomContent {
  & > p {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 1.5rem;
  }
}

@include media('>tablet') {
  .mainFeatures {
    gap: 80px;
    padding: 6rem 0;
  }

  .mainFeature {
    width: 470px;
    height: 674px;
    border-radius: 32px;
    padding: 60px;
    margin: 0;
    flex-direction: column;

    h3 {
      font-size: 28px;
      line-height: 115%;
    }

    button {
      margin: 20px 0 0;
      width: 194px;
    }
  }

  .component1Text {
    width: 100%;
  }

  .table {
    width: 300px;
    height: 210px;
  }
}
