@use '/styles/mixins.scss' as *;
@import 'include-media';

$breakpoints: (
  tablet: 768px,
  desktop: 1074px,
);

.testimonialContainer {
  position: relative;
  margin: auto;
  margin-top: 3rem;
  cursor: grab;
  width: 325px;
  height: 340px;
  background: rgba(27, 51, 100, 0.2);
  border: 1px solid rgba(139, 139, 139, 0.3);
  /* Add some fallback support for backdrop-filter */
  backdrop-filter: blur(50px);
  border-radius: 12px;
  padding: 1.5rem;
  text-align: left;
  user-select: none;

  & > p {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
  }
}

.founderInfoContainer {
  @include flex(space-between, center);
  display: flex;
  gap: 1.6rem;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

.founderImg {
  position: relative;
  border-radius: 50%;

  span {
    border-radius: inherit;
  }
}

.founderInfoText {
  width: calc(100% - 65px);
}

.name {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.description {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 21px;
  line-height: 125%;
}

.buttonsContainer {
  margin-top: 3rem;
}

@include media('>tablet') {
  .testimonialContainer {
    width: 680px;
    height: 582px;
    padding: 4rem;

    & > p {
      font-style: italic;
      font-weight: 400;
      font-size: 22px;
      line-height: 38px;
    }
  }

  .founderInfoContainer {
    bottom: 3rem;
    left: 4rem;
    right: 4rem;
  }

  .founderInfoText {
    padding: 19px 0;
  }

  .name {
    font-size: 14px;
  }

  .description {
    font-size: 28px;
  }

  .buttonsContainer {
    margin-top: 4.5rem;
  }
}
