@use '/styles/variables.scss' as *;

@import 'include-media';

.ellipseRight {
  position: absolute;
  width: 342.21px;
  height: 338.65px;
  left: 159.61px;
  top: -129.18px;

  background: $blue-gradient-center;
  opacity: 0.6;
  filter: blur(70px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -5;
}

@include media('>tablet') {
  .ellipseRight {
    width: 1265.5px;
    height: 1265.5px;
    left: unset;
    right: -10%;
    top: -600px;
    opacity: 0.45;
    filter: blur(0px);
  }
}
