@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  position: relative;
  padding: 4rem 0rem 4rem;
  background: $darker-blue;
}

.contentContainer {
  width: $mobile-width;
  margin: auto;
  text-align: center;

  p {
    margin-top: 2rem;
    font-size: 14px;
  }
}

@include media('>tablet') {
  .container {
    padding: 5rem 0 7rem;
  }

  .contentContainer {
    width: 764px;

    h1 {
      font-size: 68px;
      line-height: 100%;
    }

    p {
      font-size: 18px;
    }
  }
}
