@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.container {
  position: relative;
  padding: 4rem 0rem 6.4rem;
}

.contentContainer {
  width: $mobile-width;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 28px;
    line-height: 115%;
  }

  p {
    margin-top: 2rem;
  }
}

@include media('>tablet') {
  .container {
    padding: 5rem 0 7rem;
  }

  .contentContainer {
    width: 764px;

    h1 {
      font-size: 68px;
      line-height: 100%;
    }
  }
}
