@use '/styles/mixins.scss' as *;
@use '/styles/variables.scss' as *;

@import 'include-media';

.rootContainer {
  margin-top: 60px;
  text-align: left;

  h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $grey-4;
    border-bottom: $border-gray;
    padding: 0 50px 20px;
  }
}

.productWrapper {
  @include flex-vertical-center(flex-start);
  margin-top: 20px;
  gap: 20px;
  padding: 0 30px;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: $grey-2;
  }
}

@include media('>tablet') {
  .rootContainer {
    margin: 0;
    width: 135px;

    h5 {
      border-bottom: none;
      padding: 0;
    }

    & > div:first-child {
      margin-top: 0 !important;
    }
  }

  .productWrapper {
    justify-content: flex-start;
    margin-top: 10px;
    gap: 15px;
    padding: 0;
  }
}
