@use '/styles/variables.scss' as *;
@import 'include-media';

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  span {
    color: $primary-blue;
  }
}

.uppercase {
  text-align: center;
  text-transform: uppercase;
}

.withoutPeriod {
  & > span {
    display: none;
  }
}

@include media('>tablet') {
  .heading {
    font-size: 56px;
    line-height: 120%;
  }
}
