@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container {
  width: $mobile-width;
  margin: 10rem auto 6rem;
  text-align: center;
  background-color: #040819;

  .buttonContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .button {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 2rem;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 8px;
      width: 327px;
      height: 80px;
      z-index: 2;

      .icon {
        span {
          width: 40px !important;
          height: 40px !important;
          margin: 1.5rem !important;
        }
      }

      .divider {
        position: absolute;
        width: 1px;
        height: 40px;
        left: 80px;
        top: 20px;
        background: #ffffff;
        opacity: 0.2;
      }

      .buttonText {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}

.text {
  @include primary-text-mobile;
  margin: 2rem auto;
}

@include media('>tablet') {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0 13rem;
    margin: 0;

    .buttonContainer {
      display: flex;
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 4rem;

      .button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 32px;
        width: 480px;
        height: 144px;
        z-index: 2;

        .icon {
          span {
            width: 80px !important;
            height: 80px !important;
            margin: 0 !important;
          }
        }

        .divider {
          position: static;
          width: 1px;
          height: 80px;
          left: 112px;
          top: 0px;
          background: #ffffff;
          opacity: 0.2;
        }

        .buttonText {
          font-weight: 700;
          font-size: 23px;
          line-height: 116%;
        }
      }
    }
  }

  .textContainer {
    width: 647px;
  }
}

@include media('>tablet', '<864px') {
  .container {
    .buttonContainer {
      gap: 1rem;
    }
  }
}

@include media('>tablet', '<1025px') {
  .container {
    .buttonContainer {
      gap: 1rem;

      .button {
        width: unset;
        padding: 2rem;

        .icon {
          span {
            width: 60px !important;
            height: 60px !important;
            margin: 0 !important;
          }
        }

        .buttonText {
          font-size: 20px;
        }
      }
    }
  }
}
