@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.rootContainer {
  position: relative;
  margin: 7.5rem 0 12.5rem;
}

.errorImg {
  @include center-absolute;
  width: 460px;
  height: 302px;
  background: url('/images/errorPage/errorImg.svg') no-repeat top left/100% 100%;
  z-index: -9;
}

.textContainer {
  text-align: center;
  width: $mobile-width;
  margin: auto;

  a {
    color: $primary-blue;
  }
}

@include media('>tablet') {
  .rootContainer {
    margin: 0 0 4.25rem;
    height: 580px;
  }

  .errorImg {
    width: 100%;
    width: 100%;
  }

  .textContainer {
    @include center-absolute;
    width: 540px;

    & > h1 {
      font-size: 72px;
    }
  }
}
