@use '/styles/color.scss' as *;
@use '/styles/mixins.scss' as *;

.rootContainer {
  background: $darkGray;
  border: 1px solid $lightgray;
  border-radius: 12px;

  & > div {
    @include flex-vertical-center(space-between);
    gap: 20px;

    & > button {
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.text {
  padding-top: 20px;
  overflow: hidden;
}
