@use '/styles/color.scss' as *;
@use '/styles/mixins.scss' as *;

.rootContainer {
  width: 100%;
  background: $darkGray;
  border: 1px solid $lightgray;
  border-radius: 12px;
  padding: 25px 40px;

  & > div {
    @include flex-vertical-center(space-between);

    & > button {
      cursor: pointer;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text {
  padding-top: 8px;
  overflow: hidden;
}
