@use '/styles/variables.scss' as *;
@import 'include-media';

@-webkit-keyframes zoomOut {
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes zoomOut {
  100% {
    transform: scale(1);
  }
}

.imgContainer {
  width: 100%;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  opacity: 0.2;
  z-index: -99;
  transform: scale(1.25);
  animation: zoomOut 2.8s forwards;
}

@include media('>tablet') {
  .imgContainer {
    display: none;
  }
}
