/************** Fonts ***************/

/************** Not used anywhere ***************/

// @font-face {
//   font-family: 'Averta Std';
//   src: url('/fonts/AvertaStd-ExtraBold.woff2') format('woff2');
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
// }

/************** Not used anywhere ***************/

@font-face {
  font-family: 'Averta Std';
  src: url('/fonts/AvertaStd-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std';
  src: url('/fonts/AvertaStd-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std';
  src: url('/fonts/AvertaStd-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std';
  src: url('/fonts/AvertaStd-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std';
  src: url('/fonts/AvertaStd-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
