@use '/styles/variables';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Averta Std', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: variables.$color-background;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

button {
  &,
  &:focus,
  &:active {
    outline: none;
    background: transparent;
    border: none;
  }
}

ul {
  list-style-type: none;
}

input,
input:active,
input:focus {
  outline: none;
}

input::placeholder,
button {
  font-weight: 600;
  font-family: 'Averta Std';
}
input::-ms-input-placeholder {
  font-weight: 400;
  font-family: 'Averta Std';
}
