@mixin center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

@mixin primary-text-mobile {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  line-height: 28px;
}

@mixin flex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-vertical-center($justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
}

@mixin flex-horizontal-center($alignItems) {
  display: flex;
  justify-content: center;
  align-items: $alignItems;
}
