// Colors
$color-background: #030819;
$primary-blue: #0b9dff;

// Gradient
$blue-gradient-center: radial-gradient(
  50% 50% at 50% 50%,
  #1477f8 0%,
  rgba(5, 11, 25, 0) 100%
);
$blue-gradient-top-right-to-bottom-left: radial-gradient(
  ellipse at top left,
  #1477f8 0%,
  rgba(5, 11, 25, 0) 100%
);

// Layout
$mobile-width: 327px;
