@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container {
  width: 100%;
  margin-top: 3rem;
}

.serial {
  height: 40px;
  width: 40px;
  background-color: $primary-blue;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50%;
  @include flex-center;
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  margin: 1.5rem 0;
}

.primaryText {
  @include primary-text-mobile;
  text-align: left;
}

.primaryText2 {
  @include primary-text-mobile;
  display: block;
  text-align: left;
  margin-top: 1rem;
}

.secondaryText {
  padding-left: 1rem;
  border-left: 3px solid $primary-blue;
  margin-top: 3rem;

  h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0.5rem;
  }

  span {
    margin: 4px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    opacity: 0.64;
  }
}

.imgContainer {
  margin: -2rem;
}

.textContainer {
  max-width: 480px;
}

@include media('>tablet') {
  .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .imgContainer {
    max-width: 50%;
  }

  .serial {
    width: 64px;
    height: 64px;
    font-weight: 700;
    font-size: 32px;
    line-height: 122%;
    margin-bottom: 2rem;
  }

  .heading {
    font-weight: 700;
    font-size: 47px;
    line-height: 122%;
  }

  .textContainer {
    margin: 4rem;
    padding-top: 13rem;
  }
}
