@use '/styles/variables.scss' as *;
@use '/styles/mixins.scss' as *;

@import 'include-media';

.container {
  border-bottom: $border-gray;
  padding-bottom: 40px;
  padding-top: 20px;
}

.imgContainer {
  position: relative;
  @include flex-center;
}

.textContainer {
  max-width: 480px;
  padding: 20px;
  margin: -2rem auto 0;

  p {
    text-align: left;
    font-size: 14px;
    margin-top: 12px;
  }
}

.serial {
  height: 40px;
  width: 40px;
  background-color: $primary-blue;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50%;
  @include flex-center;
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  margin: 20px 0 20px 0;
}

.primaryText2 {
  @include primary-text-mobile;
  display: block;
  text-align: left;
  margin-top: 1rem;
}

.secondaryText {
  padding-left: 1rem;
  border-left: 3px solid $primary-blue;
  margin-top: 3rem;

  h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0.5rem;
  }

  span {
    margin: 4px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    opacity: 0.64;
  }
}

@include media('>tablet') {
  .container {
    position: relative;
    @include flex-center;
    gap: 120px;
    width: 100%;
    padding: 40px;
  }

  .textContainer {
    margin: 0;
    padding: 0;

    p {
      font-size: 18px;
      line-height: 160%;
    }
  }

  .serial {
    width: 64px;
    height: 64px;
    font-size: 32px;
    line-height: 122%;
    margin-bottom: 20px;
    background-color: $dark-blue;
  }

  .heading {
    font-weight: 700;
    font-size: 47px;
    line-height: 122%;
  }

  .secondaryText {
    padding-left: 0;
    border-left: none;
  }
}
